{% extends 'base.html.twig' %}

{% block title %}My quiz app{% endblock %}

{% block body %}
    <div class="fullscreen-background">
        <h1>Welcome to my quiz app!</h1>
        <a class="link-button" href="{{ path('app_new_quiz') }}">Play now!</a>
    </div>
{% endblock %}
